@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(Roboto-Light.16a9467557c38b4e1b19e981bd17fe3f.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(Roboto-Regular.f84cb1bf9be983133497000554605b4d.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(Roboto-Medium.1afbee5a09a022fe0287f16e9a48da1f.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(Roboto-Bold.3b38c16e4b39e5fd4017cd5055b0d505.woff2) format('woff2');
}
