body {
  overflow-wrap: break-word;
}

p {
  margin-bottom: 0;
}

p + * {
  margin-top: 16px;
}

.mdl-layout__content {
  background-color: #f5f5f5;
}

.card-xl.mdl-card {
  margin: 32px auto;
  max-width: 512px;
  min-height: inherit;
  width: 90%;
}

.card-xl.mdl-card .mdl-card__media img {
  max-width: 512px;
}

.card-xxl.mdl-card {
  margin: 32px auto;
  max-width: 1024px;
  min-height: inherit;
  width: 90%;
}

.mdl-layout__header-row {
  padding-right: 72px;
}

@media (max-width: 430px) {
  .mdl-layout__header-row .mdl-layout__title {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 400px) {
  .mdl-layout__header-row .mdl-layout__title {
    font-size: 16px;
  }
}

@media (max-width: 370px) {
  .mdl-layout__header-row .mdl-layout__title {
    font-size: 14px;
  }
}

.mdl-layout__drawer .mdl-layout-title.image-title {
  padding: 8px;
  text-align: center;
}

.mdl-layout__drawer .mdl-layout-title.image-title img {
  height: 100px;
}

.mdl-card__supporting-text {
  box-sizing: border-box;
  width: 100%;
}

.mdl-card__title + .mdl-card__supporting-text {
  padding-top: 0;
}

.mdl-card__supporting-text > table {
  width: 100%;
}

.mdl-card__supporting-text > table tr {
  vertical-align: top;
}

.mdl-card__supporting-text.running-text {
  text-align: justify;
}

.mdl-card__actions .mdl-button {
  height: inherit;
}
